# Imports etc.

In [1]:
import json
import numpy as np
import os
import pandas as pd
import plotnine as gg
import statsmodels.formula.api as smf
from Functions import *
gg.theme_set(gg.theme_classic)

In [2]:
data_dir = 'C:/Users/maria/MEGAsync/Berkeley/CHaRLy/data/RPP34'
plot_dir = data_dir + 'figures'
if not os.path.exists(plot_dir):
    os.makedirs(plot_dir)

# Get data

In [3]:
all_data = pd.read_csv(os.path.join(data_dir, 'all_data.csv'), index_col=0)
all_data['subtrial'] = all_data['subtrial'].astype(int)
all_data

C:\Users\maria\Anaconda3\envs\notebooks\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (66,67) have mixed types.Specify dtype option on import or set low_memory=False.

,rt,stimulus,key_press,trial_type,trial_index,time_elapsed,internal_node_id,phase,block,trial,...,count_star3,star_rule,star0_inplace,star1_inplace,star2_inplace,star3_inplace,sex,age_years,age_months,chance_performer
0,797.865,0.0,85.0,learning,297.0,2422963.0,0.0-77.0-0.0,high,0.0,0.0,...,0,"[2, 3]",False,False,False,False,Female,21.0,6.0,False
1,654.720,0.0,73.0,learning,298.0,2423619.0,0.0-77.0-1.0,high,0.0,0.0,...,0,"[2, 3]",False,False,False,False,Female,21.0,6.0,False
2,1317.900,0.0,79.0,learning,299.0,2424938.0,0.0-77.0-2.0,high,0.0,0.0,...,0,"[2, 3]",False,False,False,False,Female,21.0,6.0,False
3,276.305,0.0,80.0,learning,300.0,2425216.0,0.0-77.0-3.0,high,0.0,0.0,...,0,"[2, 3]",False,False,False,False,Female,21.0,6.0,False
4,823.310,0.0,85.0,learning,302.0,2426546.0,0.0-78.0-0.0,high,0.0,1.0,...,0,"[2, 3]",False,False,False,False,Female,21.0,6.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290971,NaN,NaN,NaN,transfer,NaN,NaN,NaN,low,7.0,23.0,...,0,"[2, 1]",True,True,True,True,Male,18.0,10.0,True
290972,884.860,0.0,79.0,transfer,2790.0,1240253.0,0.0-595.0-0.0,low,7.0,24.0,...,0,"[2, 1]",True,True,True,True,Male,18.0,10.0,True
290973,203.660,0.0,80.0,transfer,2791.0,1240463.0,0.0-595.0-1.0,low,7.0,24.0,...,0,"[2, 1]",True,True,True,True,Male,18.0,10.0,True
290974,262.600,0.0,73.0,transfer,2792.0,1240731.0,0.0-595.0-2.0,low,7.0,24.0,...,0,"[2, 1]",True,True,True,True,Male,18.0,10.0,True
290975,321.670,0.0,85.0,transfer,2793.0,1241059.0,0.0-595.0-3.0,low,7.0,24.0,...,0,"[2, 1]",True,True,True,True,Male,18.0,10.0,True

In [4]:
rule_data = pd.read_csv(os.path.join(data_dir, 'rule_data.csv'), index_col=0)
rule_data.loc[(rule_data.phase == 'low') & (rule_data.sid == 13885)]

,sid,phase,goal_id,lowRules,highRules,lowTransferRules,highTransferRules,lowRulesBoth,lowRulesLearnOnly,lowRulesTransferOnly,highRulesBoth,highRulesLearnOnly,highRulesTransferOnly
1,13885,low,0,"[1, 2]","[3, 2]","[0, 2]",NaN,NaN,"[1, 2]","[0, 2]","[3, 2]",NaN,NaN
147,13885,low,1,"[3, 0]","[2, 0]","[3, 1]",NaN,NaN,"[3, 0]","[3, 1]","[2, 0]",NaN,NaN
293,13885,low,2,"[2, 3]","[1, 3]","[2, 3]",NaN,"[2, 3]",NaN,NaN,"[1, 3]",NaN,NaN
439,13885,low,3,"[0, 1]","[0, 1]","[0, 1]",NaN,"[0, 1]",NaN,NaN,"[0, 1]",NaN,NaN

In [5]:
rule_data.loc[(rule_data.phase == 'low') & (rule_data.sid == 39508)]

,sid,phase,goal_id,lowRules,highRules,lowTransferRules,highTransferRules,lowRulesBoth,lowRulesLearnOnly,lowRulesTransferOnly,highRulesBoth,highRulesLearnOnly,highRulesTransferOnly
139,39508,low,0,"[1, 2]","[1, 3]","[0, 2]",NaN,NaN,"[1, 2]","[0, 2]","[1, 3]",NaN,NaN
285,39508,low,1,"[0, 1]","[2, 1]","[0, 1]",NaN,"[0, 1]",NaN,NaN,"[2, 1]",NaN,NaN
431,39508,low,2,"[3, 0]","[3, 0]","[3, 1]",NaN,NaN,"[3, 0]","[3, 1]","[3, 0]",NaN,NaN
577,39508,low,3,"[2, 3]","[0, 2]","[2, 3]",NaN,"[2, 3]",NaN,NaN,"[0, 2]",NaN,NaN

In [6]:
# REMEMBER! RULE_DATA REFERS TO ACTION_ID -> MIDDLE_ITEM_NAME; AND MIDDLE_ITEM_NAME -> UNLOCKED_STAR_NAME
all_data.loc[
    (all_data['sid'] == 39508) & (all_data['phase'] == 'low') & (all_data['trial_type'] == 'learning'),
    ['sid', 'block', 'trial', 'subtrial', 'action_id', 'middle_item_name', 'unlocked_star_name']
][228:260]

,sid,block,trial,subtrial,action_id,middle_item_name,unlocked_star_name
276470,39508,2.0,7.0,0,1.0,NaN,NaN
276471,39508,2.0,7.0,1,2.0,0.0,NaN
276472,39508,2.0,7.0,2,3.0,NaN,NaN
276473,39508,2.0,7.0,3,0.0,2.0,3.0
276474,39508,2.0,8.0,0,3.0,NaN,NaN
276475,39508,2.0,8.0,1,0.0,2.0,NaN
276476,39508,2.0,8.0,2,2.0,NaN,NaN
276477,39508,2.0,8.0,3,1.0,NaN,-1.0
276478,39508,2.0,9.0,0,3.0,NaN,NaN
276479,39508,2.0,9.0,1,0.0,2.0,NaN
276480,39508,2.0,9.0,2,1.0,NaN,NaN
276481,39508,2.0,9.0,3,0.0,NaN,-1.0
276482,39508,2.0,10.0,0,3.0,NaN,NaN
276483,39508,2.0,10.0,1,0.0,2.0,NaN
276484,39508,2.0,10.0,2,2.0,NaN,NaN
276485,39508,2.0,10.0,3,0.0,NaN,-1.0
276486,39508,2.0,11.0,0,3.0,NaN,NaN
276487,39508,2.0,11.0,1,0.0,2.0,NaN
276488,39508,2.0,11.0,2,2.0,NaN,NaN
276489,39508,2.0,11.0,3,3.0,3.0,-1.0
276490,39508,2.0,12.0,0,3.0,NaN,NaN
276491,39508,2.0,12.0,1,2.0,NaN,NaN
276492,39508,2.0,12.0,2,3.0,NaN,NaN
276493,39508,2.0,12.0,3,1.0,NaN,-1.0
276494,39508,2.0,13.0,0,3.0,NaN,NaN
276495,39508,2.0,13.0,1,0.0,2.0,NaN
276496,39508,2.0,13.0,2,2.0,NaN,NaN
276497,39508,2.0,13.0,3,3.0,3.0,-1.0
276498,39508,2.0,14.0,0,3.0,NaN,NaN
276499,39508,2.0,14.0,1,2.0,NaN,NaN
276500,39508,2.0,14.0,2,2.0,NaN,NaN
276501,39508,2.0,14.0,3,2.0,NaN,-1.0

# Results

## First discovery of new star: based on known or unknown 2-key sequences?

In [7]:
# # REMEMBER! RULE_DATA REFERS TO ACTION_ID -> MIDDLE_ITEM_NAME; AND MIDDLE_ITEM_NAME -> UNLOCKED_STAR_NAME
# all_data[['sid', 'phase', 'trial_type', 'trial', 'subtrial', 'acc', 'action_id', 'middle_item_name', 'unlocked_star_name']]

In [8]:
# for item in range(4):
#     all_data['count_item{}'.format(item)] = all_data['middle_item_name'] == item
    
# for star in range(4):
#     all_data['count_star{}'.format(star)] = all_data['unlocked_star_name'] == star
    
# all_data

In [9]:
# id_cols = ['sid', 'phase', 'trial_type', 'block']
# count_cols = ['count_item{}'.format(i) for i in range(4)] + ['count_star{}'.format(s) for s in range(4)]

# new_columns = all_data[id_cols + count_cols].groupby(id_cols).cumsum()
# all_data = all_data.drop(columns=count_cols).join(new_columns)
# all_data.sort_values(['sid', 'trial_type', 'phase', 'block', 'trial', 'subtrial'])

In [10]:
# def get_sid_phase_star_rules(all_data_row, star_id):

#     rule = rule_data.loc[
#         (rule_data['phase'] == all_data_row['phase']) & (rule_data['sid'] == all_data_row['sid']) & (rule_data['goal_id'] == star_id),
#         ['highRules']
#     ]
#     rule_string = rule.values[0][0]
#     rule_int = [int(n[1]) for n in rule_string.split(',')]
    
#     return rule_int

# # Example use
# get_sid_phase_star_rules(all_data.loc[0], star_id=0), get_sid_phase_star_rules(all_data.loc[0], star_id=1)

# # test_dat = all_data[:30]
# # test_dat['star_rule'] = test_dat.apply(get_sid_phase_star_rules, star_id=1, axis=1)
# # test_dat

In [11]:
# def get_star_inplace(all_data_row):
    
#     has_item0 = (all_data_row['count_item{}'.format(all_data_row['star_rule'][0])] > 0)
#     has_item1 = (all_data_row['count_item{}'.format(all_data_row['star_rule'][1])] > 0)
    
#     return has_item0 & has_item1

# # Example use
# test_dat.apply(get_star_inplace, axis=1)

In [12]:
# for star_id in range(4):
    
#     print("Star {}".format(star_id))
    
#     all_data['star_rule'] = all_data.apply(get_sid_phase_star_rules, star_id=star_id, axis=1)
#     all_data['star{}_inplace'.format(star_id)] = all_data.apply(get_star_inplace, axis=1)

# all_data

In [13]:
id_cols = ['sid', 'phase', 'trial_type', 'block', 'trial', 'subtrial', 'middle_item_name', 'unlocked_star_name']
count_cols = ['count_item{}'.format(i) for i in range(4)] + ['count_star{}'.format(s) for s in range(4)]
inplace_count_cols = ['star{}_inplace_count'.format(s) for s in range(4)]
inplace_cols = ['star{}_inplace'.format(s) for s in range(4)]

all_data.loc[
    (all_data['sid'] == sid) & (all_data['phase'] == 'high') & (all_data['trial_type'] == 'learning') & (all_data['block'] == 0),
    id_cols + count_cols + inplace_cols
][:30]

NameError: name 'sid' is not defined

In [ ]:
for star in range(4):
    all_data['star{}_inplace'.format(star)] = all_data['star{}_inplace'.format(star)].apply(lambda x : int(x))
    
id_cols = ['sid', 'phase', 'trial_type', 'block', 'trial']
subj_dat = all_data.groupby(id_cols).aggregate('mean').reset_index()

g = (gg.ggplot(subj_dat, gg.aes('trial', 'star0_inplace'))
     + gg.stat_summary()
     + gg.facet_grid('phase ~ trial_type')
    )
g

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'block']

for star in range(4):
    
    s_col = 'star{}_inplace'.format(star)
    
    # Count trials since star is first ready
    all_data['star{}_readysince'.format(star)] = all_data[id_cols + [s_col]].groupby(id_cols)[s_col].aggregate('cumsum')
    
    # All 4 subtrials of one trial have the same number
    all_data['star{}_readysince'.format(star)] = np.ceil(all_data['star{}_readysince'.format(star)] / 4)

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'block', 'trial', 'subtrial', 'middle_item_name', 'unlocked_star_name']
ready_cols = ['star{}_readysince'.format(s) for s in range(4)]

all_data.loc[
    (all_data['sid'] == sid) & (all_data['phase'] == 'high') & (all_data['trial_type'] == 'learning') & (all_data['block'] == 4),
    id_cols + count_cols + inplace_cols + ready_cols
][:30]

In [ ]:
sub_dat = all_data.loc[all_data['unlocked_star_name'] == 0]

g = (gg.ggplot(sub_dat, gg.aes('star0_readysince', 'acc'))
     + gg.stat_summary()
     + gg.facet_grid('phase ~ trial_type')
    )
g

In [ ]:
sub_dat = all_data.loc[all_data['unlocked_star_name'] == 1]

g = (gg.ggplot(sub_dat, gg.aes('star1_readysince', 'acc'))
     + gg.stat_summary()
     + gg.facet_grid('phase ~ trial_type')
    )
g

In [ ]:
for star in range(4):
    all_data['unlocked_star{}'.format(star)] = (all_data['unlocked_star_name'] == star).astype(int)

In [ ]:
# How long does it take to have the items in place that are required for each star?
id_cols = ['sid', 'phase', 'trial_type', 'trial']
subj_dat = all_data.groupby(id_cols).aggregate('mean').reset_index()

g = (gg.ggplot(subj_dat, gg.aes(x='trial'))
     + gg.stat_summary(gg.aes(y='star0_inplace'), color='red')
     + gg.stat_summary(gg.aes(y='star1_inplace'), color='blue')
     + gg.stat_summary(gg.aes(y='star2_inplace'), color='green')
     + gg.stat_summary(gg.aes(y='star3_inplace'), color='purple')
     + gg.facet_grid('phase ~ trial_type')
    )
g

In [ ]:
# How long does it take to discover a star AFTER having both necessary items in place?
subj_dat = all_data.loc[
    (all_data['subtrial'] == 3) & np.invert(np.isnan(all_data['acc']))# & (all_data['block'] == 0)
]#.groupby(id_cols).aggregate('mean').reset_index()

gg.options.figure_size = (6, 3)
g = (gg.ggplot(subj_dat)
     + gg.stat_summary(gg.aes('star0_readysince', 'unlocked_star0'), color='red')
     + gg.stat_summary(gg.aes('star1_readysince', 'unlocked_star1'), color='blue')
     + gg.stat_summary(gg.aes('star2_readysince', 'unlocked_star2'), color='green')
     + gg.stat_summary(gg.aes('star3_readysince', 'unlocked_star3'), color='purple')
     + gg.facet_grid('phase ~ trial_type + acc')
    )
g

In [ ]:
all_data['n_items_in_place'] = all_data[['count_item{}'.format(i) for i in range(4)]].apply(lambda x : np.sum(x > 0), axis=1)
all_data[count_cols + ['n_items_in_place']]

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'n_items_in_place']

for star in range(4):
    subj_dat = all_data.loc[
        (all_data['count_star{}'.format(star)] == 1) & (all_data['block'] < 4)
    ].groupby(id_cols).aggregate('mean').reset_index()

    g = (gg.ggplot(subj_dat, gg.aes('n_items_in_place'))
         + gg.geom_histogram()
         + gg.facet_grid('phase ~ trial_type')
        )
    print(g)

In [ ]:
# Does the number of items discovered predict the likelihood of discovering a star, above and beyond just time (trials and block)?
smf.mixedlm()

How often was a star based on 2 unknown sequences, 1 known and 1 unknown, and 2 known?

In [ ]:

all_data.loc[
    (all_data['sid'] == sid) & (all_data['phase'] == 'high') & (all_data['trial_type'] == 'learning') & (all_data['block'] == 4),
    id_cols + count_cols + inplace_cols + ready_cols
][:30]

# OLD STUFF

In [ ]:
np.unique(all_data.loc[
    (all_data['star0_readysince'] == 0) & (all_data['unlocked_star_name'] == 0),
    id_cols
]['trial_type'])

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'block', 'trial', 'subtrial', 'middle_item_name', 'unlocked_star_name']

all_data.loc[
    (all_data['sid'] == 13885) & (all_data['phase'] == 'high') & (all_data['trial_type'] == 'learning') & (all_data['block'] == 0),
    id_cols + count_cols + inplace_cols + ready_cols
][:30]

In [ ]:
rule_data.loc[(rule_data['sid'] == sid)]

In [ ]:
np.unique(all_data.loc[
    (all_data['star2_inplace'] == False) & (all_data['unlocked_star_name'] == 2),
    id_cols + count_cols + inplace_cols
]['trial_type'])

In [ ]:
count_cols = ['count_item{}'.format(i) for i in range(4)] + ['count_star{}'.format(s) for s in range(4)]

In [ ]:
sid = 35386

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'block']
all_data3 = all_data.loc[all_data['subtrial'] == 3]

all_data3 = all_data3.sort_values(by=id_cols + ['trial', 'subtrial'])

new_cols = all_data3[id_cols + inplace_cols].groupby(id_cols).cumsum()
new_cols.columns = ['{}_count'.format(c) for c in new_cols.columns]
new_cols[:30]

In [ ]:
all_data.columns

In [ ]:
inplace_count_cols = ['star{}_inplace_count'.format(s) for s in range(4)]
inplace_cols = ['star{}_inplace'.format(s) for s in range(4)]
all_data3 = all_data3.drop(columns=inplace_count_cols)
all_data3 = all_data3.join(new_cols)

for star in range(4):
    
    all_data3['bool_star{}'.format(star)] = all_data3['unlocked_star'] == star
    all_data3['found_star{}'.format(star)
              ] = all_data3[id_cols + ['bool_star{}'.format(star)]].groupby(id_cols).cumsum() > 0
id_cols = ['sid', 'phase', 'trial_type', 'block', 'trial', 'subtrial']

all_data3.sort_values(by=id_cols)[
    id_cols + ['unlocked_star']
#     + ['bool_star{}'.format(s) for s in range(4)] + ['found_star{}'.format(s) for s in range(4)]
    + inplace_cols + inplace_count_cols
][:30]

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'block', 'goal_star', 'trial']
found_cols = ['found_star{}'.format(s) for s in range(4)]

all_data3_l = all_data3[id_cols + found_cols].melt(id_vars=id_cols, var_name='star', value_name='found_star')
all_data3_l

In [ ]:
all_data3_l['found_star'] = all_data3_l['found_star'].astype(int)
subj_dat = all_data3_l.groupby(['sid', 'phase', 'trial_type', 'goal_star', 'star', 'trial']).aggregate('mean').reset_index()

g = (gg.ggplot(subj_dat, gg.aes('trial', 'found_star', color='star'))
     + gg.stat_summary()
     + gg.stat_summary(geom='line')
     + gg.facet_grid('phase ~ trial_type + goal_star')
    )
g.save(os.path.join('105_foundStarOverTrial.png'))
g

In [ ]:
id_cols = ['sid', 'phase', 'trial_type', 'block', 'trial', 'subtrial', 'unlocked_star', 'goal_star']

all_data_m = all_data3[id_cols + inplace_count_cols].melt(id_vars=id_cols, var_name='inplace_star', value_name='trials_inplace')
all_data_m['inplace_star'] = all_data_m['inplace_star'].apply(lambda x : int(x.split('_')[0][-1]))
all_data_m['got_inplace_star'] = all_data_m['unlocked_star'] == all_data_m['inplace_star']
all_data_m['inplace_star_is_goal_star'] = all_data_m['inplace_star'] == all_data_m['goal_star']

all_data_m

In [ ]:
np.unique(all_data3['sid'])

In [ ]:
all_data3.columns

In [ ]:
# # REMEMBER! RULE_DATA REFERS TO ACTION_ID -> MIDDLE_ITEM_NAME; AND MIDDLE_ITEM_NAME -> UNLOCKED_STAR_NAME
all_data3.loc[
    (all_data3['sid'] == sid) & (all_data3['trial_type'] == 'learning') & (all_data3['phase'] == 'high')
    & (all_data3['block'] == 3),
    ['trial', 'subtrial', 'key_press', 'middle_item_name', 'goal_star_name', 'unlocked_star_name'] + inplace_count_cols
]

In [ ]:
subj_dat = all_data_m.groupby(
        ['sid', 'phase', 'trial_type', 'trials_inplace', 'inplace_star', 'goal_star', 'inplace_star_is_goal_star']
    ).aggregate('mean').reset_index()

# Take away: accidental discovery (inplace_star_is_goal_star==False) peaks at 1 item post availability
    # -> people explore, recombine, are creative!!!
# Nevertheless, most correct stars are found before sub-sequences have been acquired -> 4 keys just appear
# Questions: Do both happen at different trials?
# Patterns after differ too: accidental decreases slowly, showing that people keep repeating; correct drops down,
# showing disbelief maybe?
gg.options.figure_size = (9, 4)
g = (gg.ggplot(subj_dat, gg.aes('trials_inplace', 'got_inplace_star', color='factor(inplace_star)'))
     + gg.stat_summary(position=gg.position_dodge(width=0.1))
     + gg.stat_summary(position=gg.position_dodge(width=0.1), geom='line')
     + gg.coord_cartesian(xlim=(0, 20.5))#, ylim=(0, 0.3))
     + gg.theme(subplots_adjust={'wspace': 0.25})
     + gg.facet_wrap('~ phase + trial_type + inplace_star_is_goal_star', scales='free_y', ncol=4)
    )
g

In [ ]:
subj_dat = all_data_m.groupby(
        ['sid', 'phase', 'trial_type', 'trials_inplace', 'inplace_star', 'goal_star', 'inplace_star_is_goal_star']
    ).aggregate('mean').reset_index()

# Take away: accidental discovery (inplace_star_is_goal_star==False) peaks at 1 item post availability
    # -> people explore, recombine, are creative!!!
# Nevertheless, most correct stars are found before sub-sequences have been acquired -> 4 keys just appear
# Questions: Do both happen at different trials?
# Patterns after differ too: accidental decreases slowly, showing that people keep repeating; correct drops down,
# showing disbelief maybe?
gg.options.figure_size = (9, 4)
g = (gg.ggplot(subj_dat, gg.aes('trials_inplace', 'got_inplace_star', color='factor(inplace_star)'))
     + gg.stat_summary(position=gg.position_dodge(width=0.1))
     + gg.stat_summary(position=gg.position_dodge(width=0.1), geom='line')
     + gg.coord_cartesian(xlim=(0, 20.5))#, ylim=(0, 0.3))
     + gg.theme(subplots_adjust={'wspace': 0.25})
     + gg.facet_wrap('~ phase + trial_type + inplace_star_is_goal_star', scales='free_y', ncol=4)
    )
g

In [ ]:
subj_dat = all_data_m.loc[
        (all_data_m['goal_star'] != all_data_m['inplace_star']) #& (all_data_m['block'] == 0)
    ].groupby(
        ['sid', 'phase', 'trial_type', 'trials_inplace', 'inplace_star', 'goal_star', 'inplace_star_is_goal_star']
    ).aggregate('mean').reset_index()

gg.options.figure_size = (6, 4)
g = (gg.ggplot(subj_dat, gg.aes('trials_inplace', 'got_inplace_star', color='factor(inplace_star)'))
     + gg.stat_summary(position=gg.position_dodge(width=0.1))
     + gg.stat_summary(position=gg.position_dodge(width=0.1), geom='line')
     + gg.coord_cartesian(xlim=(0, 20.5), ylim=(0, 0.3))
     + gg.facet_grid('phase ~ trial_type')
    )
g

In [ ]:
subj_dat = all_data_m.groupby(
    ['sid', 'phase', 'trial_type', 'trials_inplace', 'inplace_star', 'goal_star']
).aggregate('mean').reset_index()

# Issue: got_inplace_star does not indicate the FIRST obtainment of the inplace_star, but any... 
# so it's confounded with overall accuracy
    # could only plot first obtainment
    # or focus on non-goal stars?
gg.options.figure_size = (8, 4)
g = (gg.ggplot(subj_dat, gg.aes('trials_inplace', 'got_inplace_star', color='factor(inplace_star)'))
     + gg.stat_summary()
     + gg.stat_summary(geom='line')
     + gg.coord_cartesian(xlim=(0, 20))
     + gg.facet_grid('phase ~ trial_type + goal_star')
    )
g

## Time to discover each star

In [ ]:
id_cols = ['sid', 'trial_type', 'phase', 'block', 'goal_star']
all_data['bool_unlocked_star'] = (np.invert(np.isnan(all_data['unlocked_star'])) & (all_data['unlocked_star'] > -1))
first_dat_high = all_data.loc[all_data['bool_unlocked_star']].groupby(id_cols).aggregate('min').reset_index()[id_cols + ['trial']]
first_dat_high['n_unique_items'] = get_n_unique_items(first_dat_high)
first_dat_high

In [ ]:
subj_dat = first_dat_high#diff_dat.loc[diff_dat['exists']].groupby(['sid', 'phase', 'trial_type', 'block', 'middle_item_both']).aggregate('mean').reset_index()

gg.options.figure_size = (5, 5)
g = (gg.ggplot(subj_dat, gg.aes('block', 'trial', color='factor(goal_star)', group='factor(goal_star)'))
     + gg.stat_summary(position=gg.position_dodge(width=0.1))
     + gg.stat_summary(position=gg.position_dodge(width=0.1), geom='line')
     + gg.facet_grid('phase ~ trial_type')
    )
print(g)
g.save(os.path.join('105_trialtofirstOverBlockForStars.png'))

In [ ]:
g += gg.aes(color='factor(n_unique_items)')
print(g)
g.save(os.path.join('105_trialtofirstOverBlockForNuniqueitems.png'))